/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
#titlehome{
	
	-fx-alignment: center;
}

#panericerca{
	-fx-border-color: black;
	-fx-background-radius:50px;
	-fx-border-radius:50px;
	-fx-background-color: linear-gradient(from 0% 0% to 100% 100%,#57A4F0,#57A4F0,#50CCC8);
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.8), 10, 0, 2, 2);
}

#utentepane{

	-fx-background-radius:50 50 50 50;
	-fx-border-radius:50 50 50 50;
	-fx-background-color:transparent;
	
}

#popuputente{
	-fx-background-radius:20px;
	-fx-border-radius:20px;
	-fx-background-color: #CFE6FD;
}

.MenuItem{
	 -fx-alignment:center;
	 -fx-padding:8px 10px;
     -fx-background-radius: 20px;
     -fx-border-radius:20px;
    
	}

#menuutente{
	-fx-pref-width: 200px ;
	-fx-pref-height: 200px ;
	-fx-background-color: #A2D7F9;
	-fx-background-radius: 20px;
	-fx-border-radius:20px;
	-fx-padding:8px 10px;
	 
}

#utentepane:hover{
	
	-fx-scale-x:1.1;
	-fx-scale-y:1.1;
}

#utentepane .arrow{
	
	-fx-background-color: transparent;
    -fx-padding: 0;
}

#testochoice{
	
	-fx-font-family : OCR A Std;
	-fx-font-size: 13px;
	-fx-text-fill: black;
	-fx-border-color: black;
	-fx-border-radius:15 15 15 15;
	-fx-background-radius:15 15 15 15;
	-fx-background-color: #ffffff;
	
}


#testoPane{
	
	-fx-font-family : OCR A Std;
	-fx-font-size: 15px;
	-fx-alignment: center;
	
}

#StylePane1 {

	-fx-background-image: url(librerie.png);
	-fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-background-radius: 50;
     
}

#StylePane2{
	
	-fx-background-image: url(suggerimenti.png);
	-fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
	
}

#StylePane3 {
	
	-fx-background-image: url(valutazioni.png);
	-fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;

}

#barraRicerca{
	
	-fx-border-radius:15 0 0 15;
	-fx-background-radius:15 0 0 15;
	-fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-text-fill: white;
	
}

#yearpicker{
	
	-fx-background-color: transparent;
	-fx-border-color:transparent;
	-fx-faint-focus-color: transparent;
	-fx-focus-color: transparent;
	
}

#yearpicker .arrow-button{
	
	-fx-background-color: transparent;
}

#yearpicker .list-view{
	
    -fx-pref-height: 100px; 
    
}
#yearpicker .scroll-bar:vertical {
	
	-fx-background-color: transparent;
	
}

	
#testochoice .list-view{
	
	-fx-background-color: transparent;
	-fx-background-radius:20px;
	-fx-border-radius:20px;
	-fx-padding: 2px 5px 2px 5px;
}

#testochoice .list-cell{
	
	-fx-background-radius:10px;
	-fx-border-radius:10px;
	
}

#researchButton{
	-fx-background-radius:0 100 100 0;
	-fx-border-color: black black black black; 
	-fx-border-radius:0 100 100 0;
	-fx-background-color: transparent;
   -fx-faint-focus-color: blue;
    
   
}

.logbutton{
	
	-fx-border-color: black;
	-fx-background-color: #92DADD;
	-fx-background-radius:40;
	-fx-border-radius:40;

}

.Login-Button:hover{
	
	-fx-opacity:0.6;
	-fx-scale-x:1.1;
	-fx-scale-y:1.1;
}


#regpane{
	-fx-border-color: #92DADD; 
	-fx-border-width: 2px 2px 2px 2px; 
	-fx-border-radius: 15px 15px 15px 15px;
	-fx-background-radius:15px 15px 15px 15px;
}

.borderapproved:focused{
	-fx-border-color: rgba(210,10,10,0.8);
   	-fx-border-width: 2px;
}

.borderapproved:valid{
	-fx-border-color: rgba(160,253,123,0.8);
   	-fx-border-width: 2px;
}

.sfondolog{
	-fx-background-color: linear-gradient(from 0% 0% to 100% 100%,#57A4F0,#57A4F0,#50CCC8);
}

.backrow:hover{
	-fx-scale-x:1.1;
	-fx-scale-y:1.1;
}

#ricercaButton{

	-fx-border-color: black;
	-fx-background-color: #92DADD;
	-fx-background-radius:40;
	-fx-border-radius:40;
}

.linkricerca{
	
	-fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}


#Lista{
	
	-fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-color:#92DADD;
    -fx-background-radius: 8px;  
	-fx-border-width:3px;
  	-fx-border-radius: 8px;
    -fx-padding: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.8), 10, 0.2, 0, 0); 
}

#Lista .scroll-bar:vertical, #Lista .scroll-bar:horizontal  {
	
	-fx-background-color: transparent;
	
}

#Lista .scroll-bar:vertical .thumb,
#Lista .scroll-bar:horizontal .thumb{
	
	-fx-background-color: #92DADD;
}

#Lista .list-cell:hover{
    -fx-opacity:0.4;
}

#Lista .list-cell:selected{
     -fx-opacity:0.4;
}
	

#popsingin{
	-fx-border-radius:15 0 0 15;
	-fx-background-radius:15 0 0 15;
}

#popexit{
	-fx-border-radius:0 15 15 0;
	-fx-background-radius:0 15 15 0;
}

#popviewprofile{
	-fx-background-radius:50 50 50 50;
}

#vboxprofile{
	-fx-spacing:10px;
}

#panefiltri{
	
	-fx-background-radius:10px;
	-fx-background-color: #92DADD;
	-fx-effect:dropshadow(gaussian,rgba(0,0,0,0.8),10,0,3,3);
}

.radio-button .radio{
	-fx-background-color: white;
}

.panelibrerie{
	-fx-background-radius: 10;
	-fx-background-color: blue;
}

.scrollpane{
	-fx-background-radius: 0 0 10 10;
	-fx-border-color:transparent;
	-fx-alignment: center;
	-fx-focus-color: transparent;
}

.scrollpane .scroll-bar:vertical .thumb,
.scroll-bar:horizontal .thumb
{
	
	-fx-background-color: #92DADD;
	
}

.scrollpane .scroll-bar:vertical,
.scroll-bar:horizontal {
	
	-fx-background-color: transparent;
	-fx-pref-width: 10;
	
	
}

#nameBook{
	-fx-alignment: center;
    -fx-text-alignment: center;
}

#nameLibrary{
	
	-fx-alignment: center;
    -fx-text-alignment: center;
}

.scroll-pane .increment-button,
.scroll-pane .decrement-button {
    -fx-padding: 0;
    -fx-background-color: transparent;
    -fx-shape: "";
    -fx-opacity: 0;
}

#gridpane{
	-fx-background-color:transparent;
}

.operationlibrary{
	
	-fx-background-radius: 10 10 0 0;
	
}

.transparentbutton{
	
	-fx-background-color:transparent;
}

.transparentbutton:hover{
	
	-fx-font-weight:bold;
	-fx-text-fill: white;
	-fx-scale-x:1.1;
	-fx-scale-y:1.1;
}

.libropane{
	
	-fx-background-color:#EBEAEA;
	-fx-background-radius: 10;
}

.image-effect {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.8), 5, 0.5, 2, 2);
}

.dialogname{
	
	-fx-background-color:white;
	-fx-background-radius:10 ;
	-fx-border-radius:10;
	-fx-border-color:black;
	-fx-border-width:5;
}

.dialogpane{
	-fx-background-color:transparent;
	-fx-background-radius:10 ;
	-fx-border-radius:10;
}

#textlibreries{
	
	-fx-fill:white;
	-fx-font-weight:bold;
	
}

.colindex{
	-fx-color:white;
	-fx-font-weight:bold;
	
	
}

.boxvoto{
	
	-fx-background-color: white;
	-fx-border-color:transparent;
	-fx-faint-focus-color: transparent;
	-fx-focus-color: transparent;
	
}

.boxvoto .arrow-button{
	
	-fx-background-color: transparent;
}

.boxvoto .list-view{
	
    -fx-pref-height: 100px; 
    
}
.boxvoto .scroll-bar:vertical {
	
	-fx-background-color: transparent;
	
}

.boxvoto .scroll-bar:vertical .thumb{
	
	-fx-background-color:  #27ADAD;
}


