ToggleButton{
    -fx-background-color: #FFFF; 
}

GridPane {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
}

Button {
    
	-fx-background-color: #FFFF;
	-fx-cursor: hand;

}

.choiceBoxOrder{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 0 8 8 8;
    -fx-border-radius: 4;
    -fx-padding: 4 10 4 10;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 6, 0.1, -2, 0);
    -fx-font-size: 13px;
    -fx-text-fill: #333333;
    -fx-border:none;
}

.choiceBoxOrder:hover {
    -fx-cursor: hand;
}

.choiceBoxOrder:focused {
    -fx-border-width: 0.5;
}


.choiceBoxOrder > .arrow {
    -fx-background-color: #88bbf6; 
}

.choiceBoxOrder .context-menu {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 8;
    -fx-border-color: #E0E0E0;
    -fx-border-radius: 8;
    -fx-effect: dropshadow(gaussian,  rgba(79, 79, 79, 0.15), 10, 0.5, -2, 0 );
    -fx-border:none;
}


.choiceBoxOrder .menu-item:focused {
    -fx-background-color: rgba(136, 187, 246, 1);
    -fx-text-fill: #000000;
}

.CategoryBtn{
    -fx-background-color:transparent;
    -fx-pref-width: 80px;   /* larghezza preferita */
    -fx-pref-height: 80px;   /* altezza preferita */
    -fx-min-width: 120px;     /* larghezza minima */
    -fx-max-width: 200px; 
}


.ScrollPaneCategory HBox{
	-fx-border-style:none;
    -fx-background-color: transparent;
}

.ScrollPaneCategory{
    -fx-insets: 1;
}

.SelectedIndex{
	-fx-background-color: rgba(166, 166, 166, 0.5);
    -fx-text-fill: #ffffff;
}

.NavigationBox{
	-fx-spacing: 1em;

}

.ScrollPaneCategory {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 8 0 8 0;
    -fx-border-radius: 8;
    -fx-effect: dropshadow(gaussian, rgba(79, 79, 79, 0.15), 6, 0.1, -2, -2);
    -fx-padding: 0;
}

.ScrollPaneCategory > .viewport {
    -fx-background-color: #ffffff;
    -fx-background-radius: 8 0 8 0;
    -fx-border-radius: 8;
    -fx-clip: true; /* forza il clipping sugli angoli */
}

.ScrollPaneCategory .content {
    -fx-background-color: #ffffff;
    -fx-background-radius: 8 0 8 0;
}
 
#ScrollPaneCategory > .viewport{
    -fx-background-color:#FFFF;
}

.CategoryBtn:hover, .CategoryBtn:selected{
    -fx-border-width: 0 0 0 0;
    -fx-background-color: rgba(166, 166, 166, 0.5);
    -fx-border: none;
}

#btnForward,
#btnBack{

    -fx-background-color: transparent;
}

.ArrowScroll {
    -fx-background-color: rgba(0,0,0,0.12);
    -fx-text-fill: #fff;

    -fx-font-size: 20;
    -fx-opacity: 0.4;
    -fx-padding: 2 10;
}
.ArrowScroll:hover {
    -fx-background-color: rgba(0,0,0,1);
    -fx-opacity: 0.7;
    -fx-cursor: hand;
}

