.SearchBar {
	-fx-background-color: #FFFF;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0, 0, 0);
}

.SearchBar TextField{
	-fx-background-color:transparent;
}

ToggleButton{
    -fx-background-color: #FFFF; 
}

GridPane {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
}

Button {
	-fx-background-color: #FFFF;
	-fx-cursor: hand;

}

.choiceBoxOrder{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 0 8 8 8;
    -fx-border-radius: 4;
    -fx-padding: 4 10 4 10;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 6, 0.1, -2, 0);
    -fx-font-size: 13px;
    -fx-text-fill: #333333;
    -fx-border:none;
}

.choiceBoxOrder:hover {
    -fx-cursor: hand;
}

.choiceBoxOrder:focused {
    -fx-border-width: 0.5;
}


.choiceBoxOrder > .arrow {
    -fx-background-color: #88bbf6; 
}

.choiceBoxOrder .context-menu {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 8;
    -fx-border-color: #E0E0E0;
    -fx-border-radius: 8;
    -fx-effect: dropshadow(gaussian,  rgba(79, 79, 79, 0.15), 10, 0.5, -2, 0 );
    -fx-border:none;
}


.choiceBoxOrder .menu-item:focused {
    -fx-background-color: rgba(136, 187, 246, 1);
    -fx-text-fill: #000000;
}

.CategoryBtn{
    -fx-background-color:transparent;
    -fx-pref-width: 80px;   /* larghezza preferita */
    -fx-pref-height: 80px;   /* altezza preferita */
    -fx-min-width: 120px;     /* larghezza minima */
    -fx-max-width: 200px; 
}

.CategoryBtn:hover{
	-fx-border-width: 0 0 2 0;
	-fx-border-color: #86DBC5;
}


.ScrollPaneCategory HBox{
	-fx-border-style:none;
    -fx-background-color: transparent;
}

.ScrollPaneCategory{
    -fx-insets: 1;
}

.SelectedIndex{
	-fx-background-color: rgba(166, 166, 166, 0.2);
}

.NavigationBox{
	-fx-spacing: 1em;

}

.NavigationBox Button {
    -fx-pref-width: 30px;    
    -fx-min-width: 30px;
    -fx-max-width: 30px;  
	-fx-font-size:12px;    
    -fx-padding: 2px 6px;
    -fx-font-size: 10px;
	-fx-min-height: 100%;
    -fx-pref-height: 100%;
	-fx-max-height: infinity;
    -fx-alignment: center;
}


.NavigationBox Button:hover{
	-fx-background-color: rgba(166, 166, 166, 0.2);
}

.ScrollPaneCategory {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 8 0 8 0;
    -fx-border-radius: 8;
    -fx-effect: dropshadow(gaussian, rgba(79, 79, 79, 0.15), 6, 0.1, -2, -2);
    -fx-padding: 0;
}

.ScrollPaneCategory > .viewport {
    -fx-background-color: #ffffff;
    -fx-background-radius: 8 0 8 0;
    -fx-border-radius: 8;
    -fx-clip: true; /* forza il clipping sugli angoli */
}

.ScrollPaneCategory .content {
    -fx-background-color: #ffffff;
    -fx-background-radius: 8 0 8 0;
}
 

.ScrollPaneCategory > .viewport{
    -fx-background-color:#FFFF;
}

.SearchBar{

    -fx-background-color: white;                
    -fx-border-width: 2;              
    -fx-background-radius: 15;        
    -fx-border-radius: 15;            
    -fx-padding: 10 10 10 0;
     
}

.SearchBar Button{
    -fx-background-radius: 50%;  
    -fx-background-color: #86DBC5;  
    
}

/* Hover */
.CategoryBtn:hover {
    -fx-background-color: #e0e0e0;
    -fx-border-color: #888888;
}

/* Pressed */
.CategoryBtn:pressed {
    -fx-background-color: #d0d0d0;
    -fx-border-color: #555555;
}

/* Selezionato */
.CategoryBtn:selected {
    -fx-background-color: #a0c4ff;
    -fx-border-color: #3399ff;
    -fx-text-fill: #ffffff;
}

#btnForward,
#btnBack{

    -fx-background-color: transparent;
}



