
/* StackPane */

#rootPane {
    -fx-background-color: #ffffff;
    -fx-background-radius: 12;
    -fx-border-radius: 12;
    -fx-border-color: #e0e0e0;
    -fx-border-width: 1;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.05), 3, 0, 0, 2);
    -fx-alignment: center;
    -fx-transition: 0.3s;
}

#rootPane:hover {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 10, 0, 0, 4);
    -fx-background-color: #fdfdfd;
    -fx-border-color: #4A90E2;
}

/* Image */

.image-view {
    -fx-background-radius: 12;
    -fx-border-radius: 12;
    -fx-opacity: 0.95;
    -fx-effect: innershadow(gaussian, rgba(0,0,0,0.05), 4, 0.3, 0, 0);
}

#rootPane:hover .image-view {
    -fx-opacity: 1;
}

/* Remove Button */

#removeBtn {
    -fx-background-color: rgba(255, 50, 50, 0.85);
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-font-size: 16px;
    -fx-pref-width: 24px;
    -fx-pref-height: 24px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 3, 0, 0, 1);
    -fx-padding: 0;
    -fx-alignment: center;
    -fx-opacity: 0; 
    -fx-transition: 0.2s;
}

#rootPane:hover #removeBtn {
    -fx-opacity: 1; 
}

#removeBtn:hover {
    -fx-background-color: #E53935;
}

/* Label */

.vbox {
    -fx-alignment: center;
}

#libraryLabel {
    -fx-font-size: 14px;
    -fx-font-weight: 600;
    -fx-text-fill: #333333;
    -fx-alignment: center;
    -fx-padding: 6 0 0 0;
    -fx-wrap-text: true;
    -fx-text-alignment: center;
}

/* Effetto hover per il colore della Label */
#rootPane:hover #libraryLabel {
    -fx-text-fill: #4A90E2;
}