/* Stile  TextField searchBar */
#search {
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-border-radius: 12px;
    -fx-background-radius: 12px;
    -fx-padding: 5 10;
}

/* Stile bottone edit */
#edit {
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-border-radius: 12px;
    -fx-background-radius: 12px;
    -fx-padding: 5 10;
}

/* Stile della barra di ricerca */
#searchBar {
    -fx-background-radius: 12px;
    -fx-border-radius: 12px;
    -fx-border-color: #ccc;
    -fx-padding: 5 10;
}

/* Stile per il bottone + */
#emptyLbtn {
    -fx-background-color: #E0E0E0;       
    -fx-text-fill: #424242;               
    -fx-font-size: 24px;                  
    -fx-font-weight: bold;
    -fx-background-radius: 12px;          
    -fx-border-radius: 12px;
    -fx-border-color: #BDBDBD;           
    -fx-border-width: 2px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 3, 0, 0, 2); 
    -fx-cursor: hand;
    -fx-pref-width: 60px;                 
    -fx-pref-height: 60px;                
}

/* Stile per il bottone + quando gia presente almeno una libreria*/
#extraBtn {
    -fx-background-color: #E0E0E0;       
    -fx-text-fill: #424242;              
    -fx-font-size: 24px;                  
    -fx-font-weight: bold;
    -fx-background-radius: 12px;          
    -fx-border-radius: 12px;
    -fx-border-color: #BDBDBD;            
    -fx-border-width: 2px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 3, 0, 0, 2); 
    -fx-cursor: hand;
    -fx-padding: 10px;
}

/* Stile librerie */
.library-tile {
    -fx-background-color: #F5F5F5;
    -fx-border-color: #BDBDBD;
    -fx-border-width: 1;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-pref-width: 100px;
    -fx-pref-height: 100px;
}

/* Stile bottone rimuovi librerie */
.remove-btn {
    -fx-background-color: #E53935;   
    -fx-text-fill: white;             
    -fx-font-weight: bold;
    -fx-font-size: 14px;              
    -fx-background-radius: 3px;       
    -fx-border-radius: 3px;
    -fx-padding: 0;                   
    -fx-min-width: 20px;
    -fx-min-height: 20px;
    -fx-max-width: 30px;              
    -fx-max-height: 30px;             
    -fx-cursor: hand;
}
/* Stile nome pagina */
.page-title {
    -fx-font-family: "Poppins SemiBold", "Segoe UI", "Arial";
    -fx-font-size: 56px;
    -fx-fill: linear-gradient(to bottom, #34495e, #2c3e50);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 8, 0.2, 0, 3);
}