.root {  
    -fx-font-family: "Segoe UI";
}

.formBox {
    -fx-background-color: rgba(255,255,255,0.9);
    -fx-padding: 40;
    -fx-spacing: 10;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 10, 0, 0, 3);
}

.formTitle {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.hyperlink {
    -fx-text-fill: #007bff;
}