

#rootPane:hover {
    
    -fx-background-color: #fdfdfd;
    -fx-border-color: #4A90E2;
}

.image-view {
    -fx-background-radius: 12;
    -fx-border-radius: 12;
    -fx-opacity: 0.95;
    -fx-effect: innershadow(gaussian, rgba(0,0,0,0.05), 4, 0.3, 0, 0);
}

#rootPane:hover .image-view {
    -fx-opacity: 1;
}

#labelName, #labelAuthor {
    -fx-font-weight: 600;
    -fx-text-fill: #333333;
    -fx-alignment: center;
    -fx-padding: 6 0 0 0;
    -fx-wrap-text: true;
    -fx-text-alignment: center;
}

/* Effetto hover per il colore della Label */
#rootPane:hover #labelName, #rootPane:hover #labelAuthor {
    -fx-text-fill: #4A90E2;
}