#paneBooks {
    -fx-background-color: linear-gradient(to bottom, #FFFFFF, #F0F4F8);
    -fx-background-radius: 10;
    -fx-border-color: #D0D7E2;
    -fx-border-radius: 10;
    -fx-border-width: 1;
    -fx-padding: 10;
}

#containerRec {
    -fx-background-color: linear-gradient(to bottom, #FFFFFF, #E9EEF3);
    -fx-background-radius: 10;
    -fx-padding: 10;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.08), 10, 0, 0, 4);
}

.selectedRec{
  -fx-background-radius: 12;
    -fx-border-radius: 12;
    -fx-border-color: #e0e0e0;
    -fx-border-width: 1;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.05), 3, 0, 0, 2);
    -fx-alignment: center;
    -fx-transition: 0.3s;
    -fx-background-color: #fdfdfd;
    -fx-border-color: #4A90E2;
}

#btnForward,
#btnBack{

    -fx-background-color: transparent;
}

.SelectedIndex{
	-fx-background-color: rgba(166, 166, 166, 0.5);
    -fx-text-fill: #ffffff;
}

.btnRec{
    -fx-background-color: rgba(255, 255, 255, 1);
    -fx-effect: dropshadow(gaussian, rgba(79, 79, 79, 0.15), 6, 0.1, 2, 2);
    
}