

#paneBooks {
    -fx-background-color: linear-gradient(to bottom, #FFFFFF, #F0F4F8);
    -fx-background-radius: 10;
    -fx-border-color: #D0D7E2;
    -fx-border-radius: 10;
    -fx-border-width: 1;
    -fx-padding: 10;
}

#containerRec {
    -fx-background-color: linear-gradient(to bottom, #FFFFFF, #E9EEF3);
    -fx-background-radius: 10;
    -fx-padding: 10;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.08), 10, 0, 0, 4);
}
